  resources:
  
    - name: {{ properties['name'] }}
      type: storage.v1.bucket
      properties:
        storageClass: {{ properties['storageClass']  }}
        location: {{ properties['location'] }}
        {% if properties["websiteConfig"] %}
        website:
          mainPageSuffix: {{ properties["websiteConfig"].mainPageSuffix }}
          notFoundPage: {{ properties["websiteConfig"].notFoundPage }}
        {% endif %}
      accessControl:
        gcpIamPolicy:
          bindings:
            - role: roles/storage.admin
              members:
                - serviceAccount:{{ env['project_number'] }}@cloudservices.gserviceaccount.com
            - role: roles/storage.legacyBucketOwner
              members:
                - projectEditor:{{ env['project'] }}
                - projectOwner:{{ env['project'] }}
            - role: roles/storage.legacyBucketReader
              members:
                - projectViewer:{{ env['project'] }}
            {% if properties["websiteConfig"] %}
            - role: roles/storage.objectViewer
              members:
                - allUsers
            {% endif %}
